<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [28]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [29]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [30]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [31]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [32]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [33]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [34]:
# your code goes here
x=df.duplicated().value_counts()
print(f'There are a total of {x[True]} duplicate rows')

There are a total of 154 duplicate rows

In [35]:
df['Respondent'].duplicated().value_counts()

False    11398
True       154
Name: Respondent, dtype: int64

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [42]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [43]:
# your code goes here
df.duplicated().value_counts()

False    11398
dtype: int64

In [44]:
len(df['Respondent'].value_counts())

11398

In [45]:
df['EdLevel'].isna().value_counts()

False    11286
True       112
Name: EdLevel, dtype: int64

In [46]:
df['Country'].isna().value_counts()

False    11398
Name: Country, dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [47]:
# your code goes here
y=df.size-df.count().sum()
print(f'The dataframe is missing a total of {y} values')

The dataframe is missing a total of 30967 values

Find out how many rows are missing in the column 'WorkLoc'

In [48]:
# your code goes here
z=len(df)-df['WorkLoc'].count()
print(f'The number of rows missing in the column WorkLoc is {z}')

The number of rows missing in the column WorkLoc is 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [49]:
# your code goes here
df['WorkLoc'].value_counts(dropna=False)

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
NaN                                                 32
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [50]:
#make a note of the majority value here, for future reference
print('The most frequent value in the column WorkLoc is Office')

The most frequent value in the column WorkLoc is Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [17]:
# your code goes here
df['WorkLoc'].fillna('Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [18]:
# your code goes here
df['WorkLoc'].value_counts(dropna=False)

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [53]:
df['Employment'].value_counts(dropna=False)

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [54]:
df['UndergradMajor'].value_counts(dropna=False)

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
NaN                                                                       737
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [56]:
# your code goes here
df['CompFreq'].value_counts(dropna=False)

Yearly     6073
Monthly    4788
Weekly      331
NaN         206
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

In [57]:
df['CompTotal'].value_counts(dropna=False)

NaN          809
70000.0      241
60000.0      239
50000.0      223
100000.0     218
            ...
163500.0       1
2530000.0      1
1.0            1
162929.0       1
74400.0        1
Name: CompTotal, Length: 1510, dtype: int64

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [58]:
# your code goes here
df['NormalizedAnnualCompensation']=df['CompTotal']

for i in range(len(df)):
    if df['CompFreq'].iloc[i]=='Monthly':
        try:
            df['NormalizedAnnualCompensation'].iloc[i]=(df['CompTotal'].iloc[i]*12)
        except:
            df['NormalizedAnnualCompensation'].iloc[i]=df['CompTotal'].iloc[i]
    if df['CompFreq'].iloc[i]=='Weekly':
        try:
            df['NormalizedAnnualCompensation'].iloc[i]=(df['CompTotal'].iloc[i]*52)
        except:
            df['NormalizedAnnualCompensation'][i]=df['CompTotal'].iloc[i]

<ipython-input-58-33e663cbb994>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NormalizedAnnualCompensation'].iloc[i]=(df['CompTotal'].iloc[i]*12)
<ipython-input-58-33e663cbb994>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NormalizedAnnualCompensation'].iloc[i]=(df['CompTotal'].iloc[i]*52)

In [59]:
df['NormalizedAnnualCompensation'].value_counts(dropna=False)

NaN         809
60000.0     241
120000.0    170
70000.0     169
90000.0     157
           ...
141994.0      1
133332.0      1
9012.0        1
407400.0      1
272760.0      1
Name: NormalizedAnnualCompensation, Length: 1732, dtype: int64

In [60]:
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).